@charset "utf-8";
/* CSS Document */
.screen-only { display:none !important;}

p.pagebreak { height:1px !important; width:1px !important; overflow:hidden !important; 
	page-break-after:always !important; font-size:1px !important; color:#fff !important; border:0 !important }
